<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Binding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://migration.com:8080/Detect.svc" binding="basicHttpBinding" bindingConfiguration="Binding1" contract="MigrationServiceReference.IDetect" name="MigrationServiceReference" />
    </client>
  </system.serviceModel>
</configuration>